.footer_body{
    
    background-color: lightskyblue;
    color:black;
    text-align: center;
    margin-bottom:0px;
    text-align: left;
    font-size:5px;
    position: fixed;
    left: 0; right: 0; bottom: 0;
    width: 100%;
}