#overall{
    position: absolute;
    left: 0; right: 0; bottom: 0;
    background: white;
    padding: 3px 8px;
    color: #fff;
    z-index: 1;
    border:1px solid lightskyblue;
  }
  #NavBar{
    position: absolute;
    left: 10; right: 20; top: 0;
    background: black;
    padding: 3px 8px;
    color: #fff;
    z-index: 1;
    border:1px solid lightskyblue;
  }
